SPARQL_ENDPOINT=http://localhost:7200/repositories/addressing
ESRI_USERNAME=
ESRI_PASSWORD=
PLS_S3_BUCKET_NAME=pls-feature-service-etl
KAFKA_TOPIC=
KAFKA_BOOTSTRAP_SERVER=localhost:9092
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=SCRAM-SHA-512
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
USE_MINIO=true
DEBUG=true
